{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-center">
    <form method="POST" enctype="multipart/form-data" class="w-75 border rounded-3 p-4">
        <div class="d-flex justify-content-center">
            <h2 class="w-50 border-bottom">{{ form_name }}</h2>
        </div>
        {% csrf_token %}
        {% for field in account_form %}
            <div class="control-group">
                <label class="control-label">
                    {{ field.label }}
                </label>
                <div class="controls">
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help-inline">
                            <small>{{ field.help_text }}</small>
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% for field in profile_form %}
            <div class="control-group">
                <label class="control-label">
                    {{ field.label }}
                </label>
                <div class="controls">
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help-inline">
                            <small>{{ field.help_text }}</small>
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-danger mt-2" type="submit">{{ button_text }}</button>
    </form>
</div>


{% endblock content %}