{% extends "base.html" %}

{% block content %}

    <h2>{{ form_name }}</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in account_form %}
            <div class="control-group">
                <label class="control-label">
                    {{ field.label }}
                </label>
                <div class="controls">
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help-inline">
                            <small>{{ field.help_text }}</small>
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {% for field in profile_form %}
            <div class="control-group">
                <label class="control-label">
                    {{ field.label }}
                </label>
                <div class="controls">
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help-inline">
                            <small>{{ field.help_text }}</small>
                        </p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-danger" type="submit">{{ button_text }}</button>
    </form>

{% endblock content %}