@import url(./header.css);
@import url(./content.css);
@import url(./form.css);
@import url(./user_account.css);
@import url(./footer.css);

body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: #c42e2e;
}

a:hover {
    color: #c42ebf;
}

div.profile-pic-field {
    display: flex;
    flex-direction: column;
    align-items: end;
}
input#profile_picture-clear-id {
    display: none;
}