div.form {
    width: 50%;
    padding: 2%;
}
form {
    border: 1px solid white;
    padding: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form>div {
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-between;
}
div.helptext {
    display: none;
}
form>div>input {
    border: 1px solid green;
}
form>button {
    width: 50%;
    margin-top: 5%;
    padding: 2%;
    border: 1px solid white;
    background-color: inherit;
    color: inherit;
}